In [3]:
import pandas as pd
import sqlite3
import numpy as np
import sqlite3
from tqdm.notebook import tqdm
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [ ]:
query = """
select *
from taxonomy
limit 5
"""

In [ ]:
with sqlite3.connect('../data/hopteam.sqlite') as db: 
   hopteam = pd.read_sql(query, db)

In [ ]:
hopteam